.projects {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 8vh;
    column-gap: 4vw;
}

.project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    padding: 1.5rem;
    height: 12.5rem;
    background-color: var(--background-color);
    box-shadow: 0 2px 2px var(--desaturated-text-color);
    transition: all 0.25s ease 0s;
}

.project-card:hover {
    top: -10px;
    box-shadow: 0 12px 16px var(--desaturated-text-color);
}

.project-card::after {
    content: "";
    position: absolute;
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;
    z-index: -1;
    background-image: linear-gradient(
        45deg,
        var(--main-color),
        var(--secondary-color)
    );
}

.project-card h3 {
    font-family: var(--font-family-monospace);
}
