.projects {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 8vh;
    column-gap: 4vw;
}

.project-box {
    position: relative;
    padding: 20px;
    background-color: var(--background-color);
    text-align: center;
}

.project-box::after {
    content: "";
    position: absolute;
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;
    z-index: -1;
    background-image: linear-gradient(
        45deg,
        var(--main-color),
        var(--secondary-color)
    );
}

.project-box h3 {
    display: inline-block;
    font-family: var(--font-family-monospace);
}
