.projects {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 12vw;
    column-gap: 7.5vw;
}

/* .project-card:nth-of-type(2n) {
    margin-top: -20px;
}

.project-card:nth-of-type(2n + 3) {
    margin-top: -20px;
} */
.project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    padding: 1.5rem;
    height: 12.5rem;
    max-width: 15rem;
    background-color: var(--background-color);
    border-radius: 5px;
    box-shadow: 0 2px 2px var(--secondary-color);
    transition: all 0.25s ease 0s;
}

.project-even {
    justify-self: flex-start;
}

.project-odd {
    justify-self: flex-end;
}

.project-card:hover {
    top: -10px;
    box-shadow: 0 12px 16px var(--secondary-color);
}

.project-card::after {
    content: "";
    position: absolute;
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;
    z-index: -1;
    border-radius: 5px;
    background-image: linear-gradient(
        45deg,
        var(--main-color),
        var(--secondary-color)
    );
}

.project-card h3 {
    font-family: var(--font-family-monospace);
}
