.project-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 12rem;
    min-height: 12rem;
    text-align: center;
    padding: 10px;
    margin-right: 9em;
    background: var(--backround-color);
    border: 2px solid var(--text-black);
    border-radius: 5px;
    box-shadow: 2px -1px 5px var(--text-black);
}

.project-box h3 {
    font-family: var(--font-family-monospace);
    margin: auto;
}
.projects {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

/* .ruote-link {
    background-color: aqua;
} */
