:root {
    --main-color: hsl(340.5, 59.7%, 50.4%);
    --accent-color: hsl(270, 50%, 40%);
    --background-color: hsl(216, 45.5%, 95.7%);
    --text-color: hsl(216, 38.5%, 5.1%);
    --desaturated-text-color: hsl(340.5, 59.7%, 30.4%);
    --font-family: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    --font-family-serif: "Lora", serif;
    --font-family-monospace: "Menlo", monospace;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--font-family);
}

h1,
h2,
h3 {
    font-family: var(--font-family-serif);
    font-weight: bold;
    margin: 0;
}

h1 {
    font-size: min(max(2.5rem, 7vw), 12.5rem);
    line-height: 1.4;
    margin: 15px auto;
}

a {
    text-decoration: none;
    color: unset;
    font-size: unset;
}

main {
    width: calc(100vw - 80px);
    margin: 0 auto;
}
section {
    width: 100%;
    margin-top: 100px;
}

/* Header styles */

.header-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "... ... links"
        "... route ...";
}
.route {
    margin: 0 auto;
    text-align: center;
    font-size: 1rem;
    grid-area: route;
}

.route > span {
    display: inline-block;
    text-transform: capitalize;
}

.route-links {
    text-transform: capitalize;
    text-align: center;
}

.route-header {
    font-size: 58px;
    font-weight: bold;
    text-shadow: 1px 0 0 var(--text-color),
        -4px -5px 0 hsla(216, 38.5%, 5.1%, 0.05);
}

.route-header:hover {
    color: var(--desaturated-text-color);
    text-shadow: 1px 0 0 var(--main-color),
        -4px -5px hsla(340.5, 59.7%, 50.4%, 0.05);
}

.route-link {
    padding: 8px 0;
    display: inline-block;
}

.route-link:not(.last-route-link)::after {
    content: "•";
    margin: auto 8px;
    font-size: 1.2em;
    background: linear-gradient(var(--main-color), var(--accent-color));
    background-clip: text;
    color: transparent;
}

.route-link:not(.last-route-link):hover {
    color: var(--accent-color);
}

.last-route-link {
    color: var(--desaturated-text-color);
    cursor: default;
}

.nav-menu {
    grid-area: links;
    display: flex;
    align-items: flex-end;
    padding: 0;
    margin: 15px 7px 0 0;
    justify-self: flex-end;
}

.nav-menu > a {
    font-size: max(1rem, 13.5px);
    margin: 0 15px;
    font-weight: lighter;
    opacity: 0.9;
}

.nav-menu > a:hover {
    cursor: pointer;
    background-image: linear-gradient(
        var(--background-color) 60%,
        var(--main-color) 55%
    );
}

/* Footer styles */

footer {
    display: flex;

    margin: 100px auto 0 auto;
    width: 80%;
    font-size: 13.5px;
    justify-content: space-between;
    border-top: 1px grey solid;
    grid-area: footer;
}

footer nav {
    margin: 0;
    padding: 0;
}
footer ul {
    list-style-type: none;
    display: flex;
    margin: 0;
}

/* Grid definitions. In a near future, I would like to be able to pass a diff grid config depending on the page I'm on. */

header {
    grid-area: header;
}

footer {
    grid-area: footer;
}

main {
    grid-area: main;
}

.grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-areas:
        "header     header   header"
        "main     main    main"
        "....     footer  footer";
}
