@charset "UTF-8";

:root {
    --main-color: hsl(340.5, 59.7%, 50.4%);
    --secondary-color: hsl(270, 50%, 40%);
    --background-color: hsl(216, 45.5%, 95.7%);
    --text-color: hsl(216, 38.5%, 5.1%);
    --secondary-text-color: hsla(216, 76.9%, 5.1%, 0.74);
    --desaturated-text-color: hsl(340.5, 59.7%, 30.4%);
    --font-family: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    --font-fallback: Helvetica, Arial, sans-serif;
    --font-serif-fallback: Georgia, "Times New Roman", Times, serif;
    --font-monospace-fallback: monospace;
    --font-family-serif: "Lora", serif;
    --font-family-monospace: "Menlo", monospace;
    /* Everything in rems here. */
    --max-fontsize: 1.275;
    --min-fontsize: 1;
    --max-screensize: 75;
    --min-screensize: 18.75;
    --fontsize-diff: calc(var(--max-fontsize) - var(--min-fontsize));
    --screensize-diff: calc(var(--max-screensize) - var(--min-screensize));
    --m: calc(100 * var(--fontsize-diff) / var(--screensize-diff));
    font-size: calc(
        (var(--min-fontsize) * 1rem) +
            (var(--m) * (1vw - (var(--min-screensize) * 1rem / 100)))
    );
}

html {
    font-family: var(--font-fallback);
    letter-spacing: 0.15px;
    word-spacing: 0.65px;
}

.wf-active {
    font-family: var(--font-family);
    letter-spacing: 0;
    word-spacing: normal;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

.wf-active h1,
.wf-active h2,
.wf-active h3 {
    font-family: var(--font-family-serif);
    font-weight: bold;
    margin: 0;
}

h1,
h2,
h3 {
    font-family: var(--font-serif-fallback);
    font-weight: bold;
    letter-spacing: -1.75px;
    word-spacing: 0.65px;
}
/* y = y_1 + m(x - x1) ==> y_1 + (y_2 - y_1) / (x_2 - x_1) * (100vw - x_1) */
h1 {
    font-size: calc(2.5rem + 3.75 * ((100vw - 320px) / 680));
    line-height: 1.4;
    margin: 1.5rem auto;
}

h2 {
    font-size: 2.4rem;
}

a {
    text-decoration: none;
    color: unset;
    font-size: unset;
}

main {
    width: calc(100vw - 8rem);
    margin: 0 auto;
    padding: 4vw 0;
}
section {
    width: 100%;
    margin-top: 10rem;
}

/* Header styles */
.header-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "links"
        "route";
}

@media (min-width: 75rem) {
    .header-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
            "... ... links"
            "... route ...";
    }

    .nav-menu {
        justify-self: flex-end;
    }
}

.route {
    margin: 0 auto;
    text-align: center;
    font-size: 1rem;
    grid-area: route;
}

.route > span {
    display: inline-block;
    text-transform: capitalize;
}

.route-links {
    text-transform: capitalize;
    text-align: center;
}

.route-header {
    font-size: 3.625rem;
    font-weight: bold;
    text-shadow: 1px 0 0 var(--text-color),
        -4px -5px 0 hsla(216, 38.5%, 5.1%, 0.05);
}

.route-header:hover {
    color: var(--desaturated-text-color);
    text-shadow: 1px 0 0 var(--main-color),
        -4px -5px hsla(340.5, 59.7%, 50.4%, 0.05);
}

.route-link {
    display: inline-block;
    padding: 0.8rem 0;
}

.route-link:not(.last-route-link)::after {
    content: "•";
    margin: auto 0.8rem;
    font-size: 1.2em;
    background: linear-gradient(var(--main-color), var(--secondary-color));
    background-clip: text;
    color: transparent;
}

.route-link:not(.last-route-link):hover {
    color: var(--secondary-color);
}

.last-route-link {
    color: var(--desaturated-text-color);
    cursor: default;
}

.nav-menu {
    grid-area: links;
    padding: 0;
    margin: 15px 7px 0 0;
    justify-self: center;
}

.nav-menu > a {
    font-size: max(1rem, 13.5px);
    margin: 0 15px;
    font-weight: lighter;
    opacity: 0.9;
}

.nav-menu > a:hover {
    cursor: pointer;
    background-image: linear-gradient(
        var(--background-color) 60%,
        var(--main-color) 55%
    );
}

/* Footer styles */

footer {
    display: flex;

    margin: 10rem auto 0 auto;
    width: 80%;
    font-size: 0.875rem;
    justify-content: space-between;
    border-top: 1px var(--secondary-text-color) solid;
    grid-area: footer;
}

footer nav {
    margin: 0;
    padding: 0;
}
footer ul {
    list-style-type: none;
    display: flex;
    margin: 0;
}

/* General Grid definitions, those control how header, footer and content appear on the page. */

header {
    grid-area: header;
}

footer {
    grid-area: footer;
}

main {
    grid-area: main;
}

.grid {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

@media (min-width: 48rem) {
    .grid {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "header     header "
            "main     main"
            "....    footer";
    }
}

@media (min-width: 75rem) {
    .grid {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: 2fr 1fr 1fr;
        grid-template-areas:
            "header     header   header"
            "main     main    main"
            "....     footer  footer";
    }
}
