/* Layout styling */

.content {
    flex-basis: 33%;
}

.hero {
    flex-basis: 66%;
}

/* Main text styles */

.intro {
    margin: 0 auto;
    padding-left: max(1em, 20px);
}

.intro > h1 {
    letter-spacing: 0.12em;
    margin: 10px auto 0 auto;
}

.intro > p {
    font-size: min(max(2rem, 1vw), 1.5rem);
    line-height: 1.2;
}

.index-content {
    display: flex;
    justify-content: space-between;
}
