/* Layout styling */

.content {
    grid-area: content;
}

.hero {
    grid-area: hero;
}

.zombie {
    display: block;
    margin: 0 auto;
    max-width: 20.35rem;
}

@media (min-width: 48rem) {
    .zombie {
        max-width: 51.5rem;
        min-width: 20.35rem;
    }
}

/* Main text styles */

.intro {
    margin: 0 auto;
    padding-left: 1rem;
}

.intro > h1 {
    --max-fontsize: 4.875;
    --min-fontsize: 3;
    --fontsize-diff: calc(var(--max-fontsize) - var(--min-fontsize));
    --m: calc(100 * var(--fontsize-diff) / var(--screensize-diff));
    font-size: calc(
        (var(--min-fontsize) * 1rem) +
            (var(--m) * (1vw - (var(--min-screensize) * 1rem / 100)))
    );
    letter-spacing: 0.09em;
    line-height: 1;
    margin: 10px auto 0 auto;
}

.intro > p {
    line-height: 1.2;
    font-size: 1.25rem;
}

.intro-links {
    font-style: italic;
    display: inline-block;
    padding: 0 2px;
    color: var(--background-color);
}

.intro-links:nth-of-type(1) {
    background-color: var(--main-color);
}

.intro-links:nth-of-type(2) {
    background-color: var(--secondary-color);
}

.intro-links:nth-of-type(3) {
    background-color: hsl(216, 90%, 65.7%);
}

.index-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "hero"
        "content";
    margin: 0 auto;
}

@media (min-width: 48rem) {
    .index-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "content hero";
    }
}

@media (min-width: 75rem) {
    .index-content {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-areas: "content hero";
    }
}
