/* Layout styling */

.content {
    grid-area: content;
}

.hero {
    grid-area: hero;
}

/* Main text styles */

.intro {
    margin: 0 auto;
    padding-left: 1rem;
}

.intro > h1 {
    letter-spacing: 0.12em;
    margin: 10px auto 0 auto;
}

.intro > p {
    font-size: 1.5rem;
    line-height: 1.2;
}

.intro-links {
    font-style: italic;
    display: inline-block;
    padding: 0 2px;
    color: var(--background-color);
}

.intro-links:nth-of-type(1) {
    background-color: var(--main-color);
}

.intro-links:nth-of-type(2) {
    background-color: var(--secondary-color);
}

.intro-links:nth-of-type(3) {
    background-color: hsl(216, 90%, 65.7%);
}

.index-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "hero"
        "content";
}

@media (min-width: 48rem) {
    .index-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "content hero";
    }
}

@media (min-width: 75rem) {
    .index-content {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-areas: "content hero";
    }
}
