/* Layout styling */

.grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-areas: "content  hero hero";
}

.content {
    grid-area: content;
}

.hero {
    grid-area: hero;
}

/* Main text styles */

.intro {
    margin: 0 auto;
    padding-left: max(1em, 20px);
}

.intro > h1 {
    letter-spacing: 0.12em;
    margin: 10px auto 0 auto;
}

.intro > p {
    font-size: min(max(2rem, 1vw), 1.5rem);
    line-height: 1.2;
}
