* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #5182c1;
  --background-color: #eff3f9;
  --main-black: #080c12;
}

body {
  font-family: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 80px;
  background-color: var(--background-color);
  color: var(--main-black);
}

.content {
  grid-area: content;
}

h1,
h2,
h3 {
  font-family: "Lora", serif;
}

h1 {
  font-size: min(max(2.5rem, 7vw), rem);
  font-weight: 400;
}
.hero {
  grid-area: hero;
}

.header {
  grid-area: header;
}

.footer {
  grid-area: footer;
}

.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
}
.grid {
  width: calc(100vw - 80px);
  margin-top: 40px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-areas:
    "....... header header"
    "content  hero hero"
    ".......  footer  footer";
  background-color: var(--background-color);
}

.box {
  border-radius: 5px;
  padding: 10px;
  font-size: 150%;
}

.nav-menu {
  display: flex;
  align-items: flex-end;
}

li {
  text-decoration: none
}

.nav-item {
  margin-right: 40px;
  font-weight: bold;
  text-decoration: none;
}
