:root {
    --main-color: #5182c1;
    --background-color: #eff3f9;
    --text-black: #080c12;
    --font-family: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    --font-family-serif: "Lora", serif;
    --font-family-monospace: "Menlo", monospace;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    color: var(--text-black);
    font-family: var(--font-family);
}

.content {
    grid-area: content;
}

h1,
h2,
h3 {
    font-family: var(--font-family-serif);
    font-weight: bold;
    margin: 0;
}

h1 {
    font-size: min(max(2.5rem, 7vw), 12.5rem);
    line-height: 1.4;
    margin: 15px auto;
}

a {
    text-decoration: none;
    color: unset;
    font-size: unset;
}

section {
    width: calc(100% - 20px);
    margin: 100px auto 0 auto;
}

.hero {
    grid-area: hero;
}

.header {
    grid-area: header;
}

.footer {
    grid-area: footer;
}

.grid {
    width: calc(100vw - 80px);
    margin: 0 auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-areas:
        "....... header header"
        "content  hero hero"
        ".......  footer  footer";
}

/* Header stuff */

nav {
    margin: 15px 7px 0 0;
    display: flex;
    justify-content: flex-end;
}

.nav-menu {
    display: flex;
    align-items: flex-end;
    padding: 0;
}

.nav-menu > li {
    font-size: max(1rem, 13.5px);
    margin: 0 15px;
    list-style-type: none;
    font-weight: lighter;
    opacity: 0.9;
}

.nav-menu > li:hover {
    cursor: pointer;
    background-image: linear-gradient(
        var(--background-color) 60%,
        var(--main-color) 55%
    );
    font-weight: bold;
}

/* Main text stuff */

.intro {
    margin: 0 auto;
    padding-left: max(1em, 20px);
}

.intro > p {
    font-size: min(max(2rem, 1vw), 1.5rem);
    line-height: 1.2;
}

/* Footer */

footer {
    display: flex;

    margin: 100px auto 0 auto;
    width: 80%;
    font-size: 13.5px;
    justify-content: space-between;
    border-top: 1px grey solid;
    grid-area: footer;
}

footer nav {
    margin: 0;
    padding: 0;
}
footer ul {
    list-style-type: none;
    display: flex;
    margin: 0;
}
