.projects {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 12vh;
    justify-items: center;
}

@media (min-width: 48rem) {
    .projects {
        margin-top: 3rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 7.5vw;
        row-gap: 12vh;
        justify-items: center;
    }
}

@media (min-width: 75rem) {
    .projects {
        margin-top: 5rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 7.5vw;
        row-gap: 12vh;
        justify-items: center;
    }
}

.project-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    position: relative;
    padding: 1.5rem 1.5rem 1rem;
    height: 12.5rem;
    width: 15rem;
    background-color: var(--background-color);
    border-radius: 5px;
    box-shadow: 0 2px 2px var(--secondary-color);
    transition: all 0.25s ease 0s;
}

.project-card:hover {
    top: -10px;
    box-shadow: 0 12px 16px var(--secondary-color);
}

.project-card::after {
    content: "";
    position: absolute;
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;
    z-index: -1;
    border-radius: 5px;
    background-image: linear-gradient(
        45deg,
        var(--main-color),
        var(--secondary-color)
    );
}

.project-card h3 {
    font-family: var(--font-family-monospace);
    letter-spacing: 0.05em;
}

.project-card-footer {
    align-self: flex-end;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.gh-icon {
    position: relative;
    width: 32px;
    height: 32px;
    fill: var(--text-color);
}

.gh-icon:hover {
    fill: url(#icon-shape-gradient);
}

.gh-icon:hover::before {
    content: "See on Github";
    position: absolute;
    top: 40px;
    left: 5px;
    padding: 8px;
    border-radius: 5px;
    background-color: hsl(270, 70%, 90%);
    border: 1px solid hsl(270, 50%, 40%);
    color: hsl(270, 50%, 40%);
    opacity: 0.9;
    white-space: nowrap;
}

/* Icons gradient */

.main-stop {
    stop-color: var(--main-color);
}

.alt-stop {
    stop-color: var(--secondary-color);
}
